*.iml
*.*~
out
.idea
!research/ticket31/CucumberWebExample/.idea
!research/ticket31/desktop-client/.idea
screen
desktop-client/target
desktop-client/query.csv
plugin/Tracker/TracTracker.egg-info/
plugin/Tracker/build/
